/* comun.css */
body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #f6f6f6;
    color: #222;
}
.naranja { color: #ff8c32; }
a { text-decoration: none; }
ul { padding-left: 0; }
img { max-width: 100%; display: block; }

nav ul li.active a {
  background: #ecc101;
    color: #000000;
}
nav ul li a {
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ff8c32;
}
